@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" href="~/css/site.css" />
<div class="khoudori">
    <button class="login btn:active:focus" href="/Identity/Account/Login">login</button>
    <button class="Register .btn:active:focus" href="/Identity/Account/Register">Register</button>

</div>
<script src="~/js/site.js"></script>
<script src="~/js/site.js"></script>

