
body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    background-color: #f5f5f5; /* خلفية بسيطة فاتحة */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    margin: 0 auto; /* يخلي العنصر بالنص أفقي */
}

.login-box h2 {
    margin-bottom: 10px;
    color: #222;
}

.login-box p {
    margin-bottom: 25px;
    color: #555;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
}

    .input-group i {
        margin-right: 10px;
        color: #5873ed;
    }

    .input-group input {
        border: none;
        outline: none;
        flex: 1;
        font-size: 14px;
    }

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #5873ed, #3f5bd6);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    button:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }

.login-box a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #5873ed;
    text-decoration: none;
}

    .login-box a:hover {
        text-decoration: underline;
    }
